<app-topbar></app-topbar>
<div style="display: flex; flex-grow: grow;" class=' bg-light'>
    <app-sidebar></app-sidebar>
    <div class="container mt-3 ">
        <div class="card text-center ">
            <div class="card-header bg-white shadow-lg card">
                <nav class=" navbar navbar-expand-lg navbar-white bg-white ">
                    <div class="container-fluid ">
                        <div class="collapse navbar-collapse " id="navbarSupportedContent ">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                                <li class="nav-item ">
                                    <a class="nav-link active h6 text-gray-800 mx-3 mt-1" aria-current="true " href="# ">Customers Accounts List</a>
                                </li>
                                <li class="nav-item ">
                                    <input class="form-control me-2 bg-light small" type="search " [(ngModel)]="employeeName" placeholder="find Customer by name " aria-label="Search ">
                                </li>
                                <li class="nav-item ">
                                    <button class="btn btn-outline-primary mx-2 " (click)=" search() ">Search</button>
                                </li>
                            </ul>
                            <button class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#addEmployeeModal">Add Customer Account</button>
                        </div>
                    </div>
                </nav>
                <!-- Button trigger modal -->
                <div class="mr-2 d-flex mr-auto ">

                </div>
            </div>
            <div class="card-body bg-dark shadow-lg ">
                <table class="table table-hover table-dark ">
                    <thead>
                        <tr>
                            <th scope="col ">#</th>
                            <th scope="col ">Full name</th>
                            <th scope="col ">Email</th>
                            <th scope="col ">Role</th>
                            <th scope="col ">Phone</th>
                            <th scope="col ">Gender</th>
                            <th scope="col ">Adding date</th>
                            <th scope="col ">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let clientEmployee of clientEmployees | paginate:{
                        itemsPerPage:tableSize, currentPage:page, totalItems:count} ;
                        let i=index" style="font-family: '=Montserrat:ital,wght@0,100;', sans-serif;">
                        <tr>
                            <th scope="row ">{{i}}</th>
                            <td>{{clientEmployee.userName}}</td>
                            <td>{{clientEmployee.email}}</td>
                            <td>{{clientEmployee.role}}</td>
                            <td>{{clientEmployee.phoneNumber}}</td>
                            <td>{{clientEmployee.gender}}</td>
                            <td>{{clientEmployee.creationDate| date:'MMMM d, y'}}</td>
                            <td>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    select Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" style="cursor: pointer;" (click)="putActualValues(clientEmployee)" data-bs-toggle="modal" data-bs-target="#updateFormModal">Update</a></li>
                                    <li><a class="dropdown-item" style="cursor: pointer;" (click)="deleteClientEmployee(clientEmployee.id)">Delete</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls previousLabel='Prev' nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>
<!-- Modal Add Client Employee -->
<div class="modal fade " id="addEmployeeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Employee Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="p-5">
                    <form class="user" [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
                        <div class="form-group row mt-3">
                            <div class="col-sm-6 mb-3 mb-sm-0 ">
                                <input [class.is-invalid]='registerForm.get("fullName").errors 
                                        && registerForm.get("fullName").touched' type="text" class="form-control form-control-user" placeholder="Full Name" formControlName="fullName">
                                <div class="invalid-feedback">Please enter a user name</div>
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0 ">
                                <input [class.is-invalid]='registerForm.get("gender").errors 
                                        && registerForm.get("gender").touched' type="text" class="form-control form-control-user" placeholder="gender" formControlName="gender">
                                <div class="invalid-feedback">Please enter a gender </div>
                            </div>

                        </div>
                        <div class="form-group mt-3">
                            <input [class.is-invalid]='registerForm.get("phoneNumber").errors 
                                    && registerForm.get("phoneNumber").touched' type="text" class="form-control form-control-user" id="examplePhoneNumber" placeholder="Phone number" formControlName="phoneNumber">
                            <div class="invalid-feedback">Please enter a phoneNumber</div>
                        </div>
                        <div class="form-group mt-3">
                            <input [class.is-invalid]='registerForm.get("email").errors 
                                        && registerForm.get("email").touched' type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="user@email.com" formControlName="email">
                            <div class="invalid-feedback">Please enter a valid email</div>
                        </div>
                        <div class="form-group mt-3">
                            <!--Alaa: you can add matInput if some errors accure-->
                            <input [class.is-invalid]='registerForm.get("company").errors 
                                    && registerForm.get("company").touched' type="text" class="form-control form-control-user" [matAutocomplete]="auto" placeholder="Entreprise" formControlName="company" />
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option (click)="getEntrepriseId(clientEntreprise.id)" *ngFor="let clientEntreprise of clientEntrepriseList" [value]="clientEntreprise.name">
                                    {{clientEntreprise.name}}
                                </mat-option>
                            </mat-autocomplete>
                            <div class="invalid-feedback">Please enter an entreprise name</div>
                        </div>
                        <div class="form-group row mt-3 my-2">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input [class.is-invalid]='registerForm.get("password").errors 
                                        && registerForm.get("password").touched' type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" formControlName="password">
                                <div class="invalid-feedback">Length > 7</div>
                            </div>
                            <div class="col-sm-6 ">
                                <input [class.is-invalid]='registerForm.get("confirmPassword").errors 
                                            && registerForm.get("confirmPassword").touched' type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password" formControlName="confirmPassword">
                                <div class="invalid-feedback">The password doesn't match</div>
                            </div>
                        </div>
                        <small class="text-danger">{{errorMsg}}</small>
                        <br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!registerForm.valid">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Update Client Employee -->
<div class="modal fade" id="updateFormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Update Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="user" [formGroup]="updateForm" (ngSubmit)="updateClientEmployee()" autocomplete="off">
                    <div class="mb-3 mb-sm-0 ">
                        <input [class.is-invalid]='updateForm.get("userName").errors 
                                && updateForm.get("userName").touched' type="text" class="form-control form-control-user" id="name" placeholder="Full Name" formControlName="userName">
                        <div class="invalid-feedback">Please enter a user name</div>
                    </div>
                    <div class="form-group mt-3">
                        <input [class.is-invalid]='registerForm.get("phoneNumber").errors 
                                    && registerForm.get("phoneNumber").touched' type="text" class="form-control form-control-user" placeholder="phoneNumber" formControlName="phoneNumber">
                        <div class="invalid-feedback">Please enter a valid email</div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-6 ">
                            <input [class.is-invalid]='updateForm.get("gender").errors 
                                    && updateForm.get("gender").touched' type="text" class="form-control form-control-user" placeholder="gender" formControlName="gender">
                            <div class="invalid-feedback">Please enter the gender</div>
                        </div>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!updateForm.valid">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>