<app-navbar></app-navbar>
<div class="container bg-primary p-5 text-dark bg-opacity-25 ">
    <div class="main-timeline">

        <!-- start experience section-->
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                                                <span class="month">First</span>
                    <span class="year">Step</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">Express Your REQUET &amp; Tell Us About Your NEED</h5>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                </p>
            </div>
        </div>
        <!-- end experience section-->

        <!-- start experience section-->
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                                                <span class="month">Second</span>
                    <span class="year">Step</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">Recieve Your Personalized QUOTE</h5>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                </p>
            </div>
        </div>
        <!-- end experience section-->

        <!-- start experience section-->
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                                                <span class="month">Third</span>
                    <span class="year">Step</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">Sign Contract</h5>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                </p>
            </div>
        </div>
        <!-- end experience section-->

        <!-- start experience section-->
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                                                <span class="month">Finally</span>
                    <span class="year">Step</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title">Report Any Problem Encountered</h5>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                </p>
            </div>
        </div>
        <!-- end experience section-->

    </div>
</div>
<app-footer></app-footer>