<app-navbar></app-navbar>
<div>
    <h1 class="text-center" style="font-family:Arial, Helvetica, sans-serif">Our Support Client Team</h1>
</div>
<div class="container bg-primary p-5 text-dark bg-opacity-25 ">
    <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12 col-md-5">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-5 row bg-light">
                    <div class="col">
                        <div class="profile">
                            <div class="overlay">
                                <div class="about d-flex flex-column">
                                    <h4>Kim Sarah</h4> <span>Software Developer</span>
                                </div>
                                <ul class="social-icons">
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-linkedin"></i></li>
                                    <li><i class="fab fa-twitter"></i></li>
                                    <li><i class="fab fa-instagram"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="profile">
                            <div class="overlay">
                                <div class="about d-flex flex-column">
                                    <h4>Kim Sarah</h4> <span>Software Developer</span>
                                </div>
                                <ul class="social-icons">
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-linkedin"></i></li>
                                    <li><i class="fab fa-twitter"></i></li>
                                    <li><i class="fab fa-instagram"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="profile">
                            <div class="overlay">
                                <div class="about d-flex flex-column">
                                    <h4>Kim Sarah</h4> <span>Software Developer</span>
                                </div>
                                <ul class="social-icons">
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-linkedin"></i></li>
                                    <li><i class="fab fa-twitter"></i></li>
                                    <li><i class="fab fa-instagram"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>